pkgbase = python-argcomplete
	pkgdesc = Easy, extensible command line tab completion of arguments for your Python script
	pkgver = 3.1.1
	pkgrel = 2
	url = https://github.com/kislyuk/argcomplete
	arch = any
	license = Apache-2.0
	checkdepends = fish
	checkdepends = python-pexpect
	checkdepends = python-pip
	checkdepends = tcsh
	checkdepends = zsh
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = argcomplete::git+https://github.com/kislyuk/argcomplete?signed#tag=v3.1.1
	validpgpkeys = 29BCBADB4ECAAAC2382699388AFAFCD242818A52
	sha512sums = 5431f1c9309d6e29f5d867744245647214c0a5ce00dc516aef21e7de89881d15ff04fe1e33c3d43f256021e5670cd4d3e3cdab589e03147d68bb6b88563bd3ca

pkgname = python-argcomplete
